:root {
    --safe-area-top: env(safe-area-inset-top);
    --safe-area-bottom: env(safe-area-inset-bottom);
    --safe-area-left: env(safe-area-inset-left, 0);
    --safe-area-right: env(safe-area-inset-right, 0);
    --primary-color: var(--iris-9);
    --background-color-translucent: var(--gray-1);
    --background-color: var(--gray-1);
    --ion-font-family: "Inter";
}

ion-title,
ion-tab-bar,
.cal-sans {
    font-family: 'Cal Sans';
}

.radix-themes {
    --heading-font-family: 'Cal Sans', sans-serif !important;
    --body-font-family: 'Inter', sans-serif;
}

.rt-Button {
    font-family: 'Cal Sans', sans-serif;
}

.not-cal {
    font-family: var(--default-font-family) !important;
}

ion-title {
    letter-spacing: 0.01em;
}

ion-tab-bar {
    letter-spacing: 0.02em;
}

body {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    min-width: -webkit-fill-available;
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
    img[loading="lazy"] {
        clip-path: inset(0.6px)
    }
}

/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/

/* @media (prefers-color-scheme: dark) { */
/*
     * Dark Colors
     * -------------------------------------------
     */

body {
    --ion-color-primary: var(--iris-9);
    --ion-color-primary-rgb: 91, 91, 214;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: var(--iris-8);
    --ion-color-primary-tint: var(--iris-10);

    --ion-color-secondary: #50c8ff;
    --ion-color-secondary-rgb: 80, 200, 255;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #46b0e0;
    --ion-color-secondary-tint: #62ceff;

    --ion-color-tertiary: #6a64ff;
    --ion-color-tertiary-rgb: 106, 100, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #5d58e0;
    --ion-color-tertiary-tint: #7974ff;

    --ion-color-success: #30A46C;
    --ion-color-success-rgb: 48, 164, 108;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #2a905f;
    --ion-color-success-tint: #45ad7b;

    --ion-color-warning: #FFC53D;
    --ion-color-warning-rgb: 255, 197, 61;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ad36;
    --ion-color-warning-tint: #ffcb50;

    --ion-color-danger: #E5484D;
    --ion-color-danger-rgb: 229, 72, 77;
    --ion-color-danger-contrast: #000000;
    --ion-color-danger-contrast-rgb: 0, 0, 0;
    --ion-color-danger-shade: #ca3f44;
    --ion-color-danger-tint: #e85a5f;

    --ion-color-dark: var(--gray-1);
    /* --ion-color-dark-rgb: 244, 245, 248; */
    --ion-color-dark-contrast: #000000;
    --ion-color-dark-contrast-rgb: 0, 0, 0;
    --ion-color-dark-shade: #d7d8da;
    --ion-color-dark-tint: #f5f6f9;

    --ion-color-medium: #989aa2;
    --ion-color-medium-rgb: 152, 154, 162;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #86888f;
    --ion-color-medium-tint: #a2a4ab;

    --ion-color-light: #222428;
    --ion-color-light-rgb: 34, 36, 40;
    --ion-color-light-contrast: #ffffff;
    --ion-color-light-contrast-rgb: 255, 255, 255;
    --ion-color-light-shade: #1e2023;
    --ion-color-light-tint: #383a3e;
}

/*
     * iOS Dark Theme
     * -------------------------------------------
     */

.ios body {
    --ion-background-color: var(--gray-1);
    --ion-background-color-rgb: 17, 17, 17;

    --ion-text-color: var(--gray-12);
    --ion-text-color-rgb: 238, 238, 238;

    --ion-color-step-50: var(--gray-1);
    --ion-color-step-100: var(--gray-1);
    --ion-color-step-150: var(--gray-2);
    --ion-color-step-200: var(--gray-2);
    --ion-color-step-250: var(--gray-3);
    --ion-color-step-300: var(--gray-4);
    --ion-color-step-350: var(--gray-5);
    --ion-color-step-400: var(--gray-6);
    --ion-color-step-450: var(--gray-7);
    --ion-color-step-500: var(--gray-8);
    --ion-color-step-550: var(--gray-9);
    --ion-color-step-600: var(--gray-9);
    --ion-color-step-650: var(--gray-9);
    --ion-color-step-700: var(--gray-10);
    --ion-color-step-750: var(--gray-10);
    --ion-color-step-800: var(--gray-11);
    --ion-color-step-850: var(--gray-11);
    --ion-color-step-900: var(--gray-12);
    --ion-color-step-950: var(--gray-12);

    --ion-toolbar-background: var(--gray-1);

    --ion-item-background: var(--gray-1);

    --ion-tab-bar-background: var(--gray-1);

    --ion-card-background: #1c1c1d;
}

/*
     * Material Design Dark Theme
     * -------------------------------------------
     */

.md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18, 18, 18;

    --ion-text-color: rgb(148 163 184);
    --ion-text-color-rgb: 148, 163, 184;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
}

/* } */