.avatar-tomato {
    background-color: #FF35232B; /* fallback bg-color */
    background-color: color(display-p3 0.996 0.282 0.176 / 0.148);
    color: #FF977D; /* fallback color */
    color: color(display-p3 1 0.585 0.455)
}

.avatar-red {
    background-color: #FF173F2D; /* fallback color */
    background-color: color(display-p3 1 0.169 0.271 / 0.156);
    color: #FF977D; /* fallback color */
    color: color(display-p3 1 0.585 0.455)
}

.avatar-ruby {
    background-color: #FF235D2C; /* fallback color */
    background-color: color(display-p3 0.996 0.196 0.404 / 0.152);
    color: #FF949D; /* fallback color */
    color: color(display-p3 1 0.57 0.59)
}

.avatar-crimson {
    background-color: #FE2A8B2A; /* fallback color */
    background-color: color(display-p3 0.996 0.227 0.573 / 0.148);
    color: #FF92AD; /* fallback color */
    color: color(display-p3 1 0.56 0.66)
}

.avatar-pink {
    background-color: #FE37CC29; /* fallback color */
    background-color: color(display-p3 1 0.294 0.886 / 0.139);
    color: #FF8DCC; /* fallback color */
    color: color(display-p3 1 0.535 0.78)
}


.avatar-plum {
    background-color: #FD4CFD27; /* fallback color */
    background-color: color(display-p3 0.918 0.333 0.996 / 0.148);
    color: #F19CFEF3; /* fallback color */
    color: color(display-p3 0.86 0.602 0.933)
}

.avatar-purple {
    background-color: #C150FF2D; /* fallback color */
    background-color: color(display-p3 0.718 0.349 0.996 / 0.169);
    color: #D19DFF; /* fallback color */
    color: color(display-p3 0.8 0.62 1)
}

.avatar-violet {
    background-color: #8354FE36; /* fallback color */
    background-color: color(display-p3 0.494 0.337 0.996 / 0.202);
    color: #BAA7FF; /* fallback color */
    color: color(display-p3 0.72 0.65 1)
}

.avatar-iris {
    background-color: #525BFF3B; /* fallback color */
    background-color: color(display-p3 0.357 0.373 1 / 0.219);
    color: #B1A9FF; /* fallback color */
    color: color(display-p3 0.685 0.662 1)
}

.avatar-indigo {
    background-color: #2F62FF3C; /* fallback color */
    background-color: color(display-p3 0.243 0.404 1 / 0.223);
    color: #9EB1FF; /* fallback color */
    color: color(display-p3 0.63 0.69 1)
}


.avatar-blue {
    background-color: #0077FF3A; /* fallback color */
    background-color: color(display-p3 0.122 0.463 1 / 0.219);
    color: #70B8FF; /* fallback color */
    color: color(display-p3 0.49 0.72 1)
}

.avatar-cyan {
    background-color: #FF35232B; /* fallback color */
    background-color: color(display-p3 0.122 0.741 0.996 / 0.152);
    color: #52E1FEE5; /* fallback color */
    color: color(display-p3 0.446 0.79 0.887)
}

.avatar-teal {
    background-color: #00FFE61E; /* fallback color */
    background-color: color(display-p3 0.235 1 0.898 / 0.118);
    color: #0AFED5D6; /* fallback color */
    color: color(display-p3 0.388 0.835 0.719)
}


.avatar-jade {
    background-color: #02F99920; /* fallback color */
    background-color: color(display-p3 0.267 1 0.667 / 0.118);
    color: #21FEC0D6; /* fallback color */
    color: color(display-p3 0.4 0.835 0.656)
}

.avatar-green {
    background-color: #22FF991E; /* fallback color */
    background-color: color(display-p3 0.376 0.996 0.655 / 0.114);
    color: #46FEA5D4; /* fallback color */
    color: color(display-p3 0.434 0.828 0.573)
}

.avatar-grass {
    background-color: #70FE8C1B; /* fallback color */
    background-color: color(display-p3 0.549 0.992 0.588 / 0.106);
    color: #89FF9FCD; /* fallback color */
    color: color(display-p3 0.535 0.807 0.542)
}


.avatar-bronze {
    background-color: #FACEB817; /* fallback color */
    background-color: color(display-p3 0.988 0.851 0.761 / 0.085);
    color: #FFD7C6D1; /* fallback color */
    color: color(display-p3 0.81 0.707 0.655)
}


.avatar-gold {
    background-color: #F8ECBB15; /* fallback color */
    background-color: color(display-p3 1 0.949 0.753 / 0.08);
    color: #FEE7C6C8; /* fallback color */
    color: color(display-p3 0.784 0.728 0.635)
}

.avatar-brown {
    background-color: #FCB58C19; /* fallback color */
    background-color: color(display-p3 0.996 0.745 0.576 / 0.093);
    color: #FED1AAD9; /* fallback color */
    color: color(display-p3 0.835 0.715 0.597)
}

    

.avatar-orange {
    background-color: #FB6A0025; /* fallback color */
    background-color: color(display-p3 0.996 0.486 0 / 0.131);
    color: #FFA057; /* fallback color */
    color: color(display-p3 1 0.63 0.38)
}


.avatar-amber {
    background-color: #FA820022; /* fallback color */
    background-color: color(display-p3 1 0.6 0 / 0.118);
    color: #FFCA16; /* fallback color */
    color: color(display-p3 1 0.8 0.29)
}


.avatar-yellow {
    background-color: #FFAA001E; /* fallback color */
    background-color: color(display-p3 0.996 0.71 0 / 0.11);
    color: #FEE949F5; /* fallback color */
    color: color(display-p3 0.948 0.885 0.392)
}


.avatar-lime {
    background-color: #9BFD4C1A; /* fallback color */
    background-color: color(display-p3 0.69 1 0.38 / 0.101);
    color: #D1FE77E4; /* fallback color */
    color: color(display-p3 0.771 0.893 0.485)
}


.avatar-mint {
    background-color: #00FFF61D; /* fallback color */
    background-color: color(display-p3 0.176 0.996 0.996 / 0.11);
    color: #67FFDED2; /* fallback color */
    color: color(display-p3 0.482 0.825 0.733)
}


.avatar-sky {
    background-color: #1184FC33; /* fallback color */
    background-color: color(display-p3 0.192 0.522 0.996 / 0.19);
    color: #7CD3FFEF; /* fallback color */
    color: color(display-p3 0.536 0.772 0.924)
}