.tiptap-renderer blockquote {
    border-left: 3px solid var(--gray-11);
    padding-left: 0.8rem;
    margin: 1rem;
}

.tiptap-renderer a,
.tiptap-renderer .mention {
    color: var(--accent-11);
}

.tiptap-renderer .table-wrapper {
    overflow-x: auto;
    padding-right: 4rem;
}