.tiptap-renderer blockquote {
    border-left: 3px solid var(--gray-11);
    padding-left: 0.8rem;
    margin: 1rem;
}

.tiptap-renderer a,
.tiptap-renderer .mention {
    color: var(--accent-11);
}

/* Task list styles */
/* .tiptap-renderer ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;
}

.tiptap-renderer ul[data-type="taskList"] li {
    align-items: flex-start;
    display: flex;
}

.tiptap-renderer ul[data-type="taskList"] li>label {
    flex: 0 0 auto;
    margin-right: 0.5rem;
    user-select: none;
}

.tiptap-renderer ul[data-type="taskList"] li>div {
    flex: 1 1 auto;
}


.tiptap-renderer ul[data-type="taskList"] input[type="checkbox"] {
    cursor: pointer;
} */



/* Task list specific styles */
/* ul[data-type="taskList"] {
    list-style: none;
    margin-left: 0;
    padding: 0;

    li {
        align-items: flex-start;
        display: flex;

        >label {
            flex: 0 0 auto;
            margin-right: 0.5rem;
            user-select: none;
        }

        >div {
            flex: 1 1 auto;
        }
    }

    ul[data-type="taskList"] {
        margin: 0;
    }
}
} */