/* Styles for Mobile App Alert */

.web-app {
    display: block;
}

.mobile-app-message {
    display: none;
}

@media screen and (max-width: 768px) {
    .web-app {
        display: none;
    }

    .mobile-app-message {
        display: block;
    }
}