.light .palette {
    --gray: var(--gray-2);
    --bg-gray: white;
    --box-shadow: var(--shadow-3);
    --border: 1px solid var(--gray-1);
    --item: var(--gray-2);
    --item-hover: var(--gray-3);
    --text: var(--gray-12);
    --text-alt: var(--gray-9);
}

.dark .palette {
    --gray: var(--gray-2);
    --bg-gray: transparent;
    --box-shadow: var(--shadow-3);
    --border: 1px solid var(--gray-1);
    --item: var(--gray-2);
    --item-hover: var(--gray-7);
    --text: var(--gray-12);
    --text-alt: var(--gray-9);
}

.palette [cmdk-root] {
    max-width: 640px;
    width: 100%;
    padding: 8px;
    background: var(--bg-gray);
    border-radius: 12px;
    overflow: hidden;
    border: 1px solid var(--border);
    box-shadow: 0 16px 70px var(--box-shadow);
    transition: transform 100ms ease;
}

.palette [cmdk-item] {
    content-visibility: auto;

    cursor: pointer;
    height: 32px;
    border-radius: 8px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 12px;
    color: var(--text);
    user-select: none;
    will-change: background, color;
    transition: all 150ms ease;
    transition-property: none;
}

.palette [cmdk-item][aria-selected='true'] {
    background: var(--item-hover);
    color: var(--text);
}

.palette [cmdk-item][aria-disabled='true'] {
    color: var(--item);
    cursor: not-allowed;
}

.palette [cmdk-item]:hover {
    transition-property: background;
    background: var(--item-hover);
}

.palette [cmdk-item]+[cmdk-item] {
    margin-top: 4px;
}

.palette [cmdk-search] {
    border: none;
    width: 100%;
    font-size: 14px;
    padding: 0 0 0 8px;
    outline: none;
    border-bottom: 1px solid var(--border);
    margin-bottom: 8px;
    border-radius: 0;
}

.palette [cmdk-input] {
    border: none;
    width: 100%;
    font-size: 14px;
    padding: 8px 8px 8px 8px;
    background: var(--bg-gray);
    outline: none;
    color: var(--text-alt);
    border-radius: 0;
}

.palette [cmdk-input]::placeholder {
    color: var(--gray-9);
}

.palette [cmdk-list] {
    /* height: min(330px, calc(var(--cmdk-list-height))); */
    max-height: 400px;
    overflow: auto;
    overscroll-behavior: contain;
    transition: 100ms ease;
    transition-property: height;
}

.palette [cmdk-list]::-webkit-scrollbar {
    width: 6px;
}

.palette [cmdk-list]::-webkit-scrollbar-track {
    background-color: transparent;
    width: 10px;
}

.palette [cmdk-list]::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 10px;
}

.palette [cmdk-list]:hover::-webkit-scrollbar {
    width: 6px;
}

.palette [cmdk-list]:hover::-webkit-scrollbar-track {
    background-color: 'transparent';
    width: 10px;
}

.palette [cmdk-list]:hover::-webkit-scrollbar-thumb {
    background-color: var(--thumb-color);
    border-radius: 3px;
}

.palette [cmdk-separator] {
    height: 1px;
    width: 100%;
    background: var(--item);
    margin: 4px 0;
}

.palette [cmdk-group-heading] {
    user-select: none;
    font-size: 12px;
    color: var(--text-alt);
    padding: 2px 0px 0px 14px;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.palette [cmdk-empty] {
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    white-space: pre-wrap;
    color: var(--text);
}

.palette [cmdk-badge] {
    height: 32px;
    background: var(--gray);
    display: inline-flex;
    align-items: center;
    padding: 0px 2px 0px 8px;
    font-size: 12px;
    color: var(--text);
    border-radius: 4px;
    user-select: none;
    text-transform: capitalize;
    font-weight: 500;
}

.palette [cmdk-footer] {
    display: flex;
    justify-content: right;
    margin-top: 10px;
    padding: 8px 12px;
    font-size: 12px;
    color: var(--text);
    border-top: 1px solid var(--border);
    border-radius: 0 0 10px 10px;
}

.palette [cmdk-shortcuts] {
    display: flex;
    margin-left: auto;
    gap: 8px;
}

.palette [cmdk-shortcuts] kbd {
    font-size: 12px;
    min-width: 20px;
    padding: 4px;
    height: 20px;
    border-radius: 4px;
    color: var(--text);
    background: var(--bg-gray);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}