.raven-avatar {
    width: 1.8rem;
    height: 1.8rem;
    min-width: 1.8rem;
    min-height: 1.8rem;
    display: block;
    border-radius: 0.5rem;

    .placeholder {
        display: flex;
        align-items: center;
        height: 1.8rem;
        width: 1.8rem;
        justify-content: center;
    }

}