.raven-chat-view {
    transition: all 0.3s ease-in-out;
    overflow-x: hidden;

    .raven-chat-view-container {
        position: relative;
        width: var(--raven-content-width);
        height: var(--raven-content-height);
        overflow-x: hidden;

        .raven-chat-input {
            position: fixed;
            bottom: 0;
            display: flex;
            gap: 0.5rem;
            min-height: 42px;
            padding: 4px;
            border-top: 1px solid var(--border-color);
            width: var(--raven-content-width);
        }

        .raven-message-stream-container {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            padding: 0.5rem;
            height: calc(var(--raven-content-height) - 54px);
            width: 100%;
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }

}