.raven-date-separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;

    .raven-date-separator-line {
        width: 100%;
        height: 1px;
        background-color: var(--border-color);
    }

    .raven-date-separator-text {
        font-size: 0.75rem;
        min-width: fit-content;
        color: var(--text-color-secondary);
    }
}