emoji-picker {
    --indicator-color: var(--iris-9);

    width: 100%;
    --emoji-size: 1.8rem;
    --num-columns: 6;
    --category-emoji-size: 1.6rem;
    height: 100%;
    --input-padding: 0rem;
    --input-font-size: 0rem;
    --input-border-color: var(--gray-6);
    --input-border-size: 0px;
    --input-font-color: var(--gray-11);
    --background: var(--gray-2);
    --indicator-height: 2px;
    --border-color: transparent;
    --button-active-background: color: rgb(39 39 42);
    --button-hover-background: rgb(39 39 42);
    --input-placeholder-color: var(--gray-9);
    --outline-color: var(--iris-a7);
}

.picker {
    --border-size: 2px;
}