.light-theme {
    --gray: var(--chakra-colors-gray-100);
    --bg-gray: var(--chakra-colors-white);
}

.dark-theme {
    --gray: var(--chakra-colors-gray-700);
    --bg-gray: var(--chakra-colors-gray-800);
}

.my-quill-editor .ql-container {
    border: none;
}

.my-quill-editor .ql-editor {
    border: none;
    max-height: 40vh;
    overflow-y: scroll;
}

.my-quill-editor .ql-toolbar.ql-snow .ql-formats>button:hover {
    background-color: var(--gray);
    border-radius: 4px;
}

.ql-toolbar {
    border: none !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.ql-formats button.ql-active {
    background-color: var(--gray);
    border-radius: 4px;
    z-index: 2;
}

.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill {
    fill: #1a97c0;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke {
    stroke: #1a97c0;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
    font-size: 14px;
    font-style: normal;
    color: #718096;
}

.mention {
    background-color: var(--gray) !important;
    border-radius: 4px;
    color: #1a97c0;
}

.ql-mention-list {
    background-color: var(--bg-gray) !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.ql-mention-list-container {
    border-color: var(--gray) !important;
}

.ql-mention-list-item.selected {
    background-color: var(--gray) !important;
}

.ql-tooltip.ql-editing {
    margin-left: 10px;
    left: auto !important;
    top: auto !important;
    width: 50%;
}

.ql-snow .ql-tooltip {
    position: relative;
    transform: none;
    border-radius: 4px;
}

.ql-tooltip.ql-editing input[type="text"] {
    width: 80%;
}

.dark-theme .ql-tooltip.ql-editing {
    background-color: #2D3748;
    color: white;
    box-shadow: none;
    border-color: #718096;
}

.dark-theme .ql-tooltip.ql-editing input[type="text"]:valid {
    color: white;
    background-color: #1A202C;
    border-color: #1A202C;
}

.ql-tooltip {
    margin-left: 10px;
    left: auto !important;
    top: auto !important;
    width: fit-content;
}

.dark-theme .ql-tooltip {
    color: white;
    box-shadow: none;
    background-color: #1A202C;
    border-color: #718096;
}

.ql-snow a {
    color: #2B6CB0;
}

.ql-action {
    color: #4299E1 !important;
}

.ql-remove {
    color: #F56565 !important;
}

.ql-syntax {
    border-width: 0.05em;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 8px;
    border-radius: 4px;
    overflow: scroll;
    width: 100%;
    color: white;
    background-color: #1A202C;
}