.light-theme {
    --gray: var(--chakra-colors-gray-100);
    --bg-gray: var(--chakra-colors-white);
}

.dark-theme {
    --gray: var(--chakra-colors-gray-700);
    --bg-gray: var(--chakra-colors-gray-800);
}

.my-quill-editor .ql-container {
    border: none;
}

.my-quill-editor .ql-editor {
    border: none;
    max-height: 40vh;
    overflow-y: scroll;
}

.my-quill-editor .ql-toolbar.ql-snow .ql-formats>button:hover {
    background-color: var(--gray);
    border-radius: 4px;
}

.ql-toolbar {
    border: none !important;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.ql-formats button.ql-active {
    background-color: var(--gray);
    border-radius: 4px;
    z-index: 2;
}

.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-fill {
    fill: #1a97c0;
}

.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke {
    stroke: #1a97c0;
}

.quill>.ql-container>.ql-editor.ql-blank::before {
    font-size: 14px;
    font-style: normal;
    color: #718096;
}

.mention {
    background-color: var(--gray) !important;
    border-radius: 4px;
    color: #1a97c0;
}

.ql-mention-list {
    background-color: var(--bg-gray) !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.ql-mention-list-container {
    border-color: var(--gray) !important;
}

.ql-mention-list-item.selected {
    background-color: var(--gray) !important;
}

.ql-syntax {
    border-width: 0.05em;
    background-color: var(--bg-gray) !important;
    border-color: var(--gray) !important;
    font-family: "Roboto Mono", monospace;
    font-size: 14px;
    line-height: 1.5;
    padding: 8px;
    border-radius: 4px;
    overflow: scroll;
    max-width: 70vw;
}