@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 248 248 248;
        --foreground: 0 0 0;
        --card: 255 255 255;
        --card-background: 234 234 234;
        --card-foreground: 8 28 30;
        --popover: 230 230 235;
        --popover-foreground: 0 0 0;
        --primary: 87, 83, 198;
        --primary-foreground: 255 255 255;
        --secondary: 45 175 231;
        --secondary-foreground: 255 255 255;
        --muted: 175 176 180;
        --muted-foreground: 98 98 103;
        --accent: 255 40 84;
        --accent-foreground: 255 255 255;
        --destructive: 255 56 43;
        --destructive-foreground: 255 255 255;
        --error: 206 32 33;
        --error-background: 251 234 233;
        --error-heading: 176 20 20;
        --error-border: 182 22 22;
        --linkColor: 230, 230, 235;
        --grayText: 140, 142, 139;
        --border: 220, 220, 225;
        --input: 210 210 215;
        --ring: 230 230 235;
        --green: 82, 174, 99;

        --android-background: 248 248 248;
        --android-foreground: 0 0 0;
        --android-card: 255 255 255;
        --android-card-background: 234 234 234;
        --android-card-foreground: 24 28 35;
        --android-popover: 215 217 228;
        --android-popover-foreground: 0 0 0;
        --android-primary: 87, 83, 198;
        --android-primary-foreground: 255 255 255;
        --android-secondary: 176 201 255;
        --android-secondary-foreground: 20 55 108;
        --android-muted: 193 198 215;
        --android-muted-foreground: 98 98 103;
        --android-accent: 169 73 204;
        --android-accent-foreground: 255 255 255;
        --android-destructive: 186 26 26;
        --android-destructive-foreground: 255 255 255;
        --android-error: 206 32 33;
        --android-error-background: 251 234 233;
        --android-error-heading: 176 20 20;
        --android-error-border: 182 22 22;
        --android-linkColor: 230, 230, 235;
        --android-grayText: 140, 142, 139;
        --android-border: 220, 220, 225;
        --android-input: 210 210 215;
        --android-ring: 215 217 228;
        --android-green: 82, 174, 99;
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background: 0 0 0;
            --foreground: 255 255 255;
            --card: 21 21 24;
            --card-background: 37 37 39;
            --card-foreground: 255 255 255;
            --popover: 40 40 42;
            --popover-foreground: 255 255 255;
            --primary: 91, 91, 214;
            --primary-foreground: 255 255 255;
            --secondary: 100 211 254;
            --secondary-foreground: 255 255 255;
            --muted: 70 70 73;
            --muted-foreground: 187 187 187;
            --accent: 255 52 95;
            --accent-foreground: 255 255 255;
            --destructive: 254 67 54;
            --destructive-foreground: 255 255 255;
            --error: 176 20 20;
            --error-background: 39 19 20;
            --error-heading: 220 50 50;
            --error-border: 145 22 22;
            --linkColor: 26, 26, 26;
            --grayText: 113, 115, 112;
            --border: 80, 80, 84;
            --input: 55 55 57;
            --ring: 40 40 42;
            --green: 82, 174, 99;

            --android-background: 0 0 0;
            --android-foreground: 255 255 255;
            --android-card: 16 19 27;
            --android-card-background: 37 37 39;
            --android-card-foreground: 224 226 237;
            --android-popover: 39 42 50;
            --android-popover-foreground: 224 226 237;
            --android-primary: 91, 91, 214;
            --android-primary-foreground: 255 255 255;
            --android-secondary: 28 60 114;
            --android-secondary-foreground: 189 209 255;
            --android-muted: 216 226 255;
            --android-muted-foreground: 187 187 187;
            --android-accent: 83 0 111;
            --android-accent-foreground: 238 177 255;
            --android-destructive: 147 0 10;
            --android-destructive-foreground: 255 255 255;
            --android-error: 176 20 20;
            --android-error-background: 39 19 20;
            --android-error-heading: 220 50 50;
            --android-error-border: 145 22 22;
            --android-linkColor: 26, 26, 26;
            --android-grayText: 113, 115, 112;
            --android-border: 80, 80, 84;
            --android-input: 55 55 57;
            --android-ring: 39 42 50;
            --android-green: 82, 174, 99;
        }
    }
}