:root {
  --color-black: #242e39;
  --color-gray-2: #68707d;
  --color-gray-4: #c7cdd4;
  --color-gray-5: #edf1f6;
}


.tiptap-editor {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-bottom: 48px; */
  background-color: #f00;
  overflow: hidden;
}

.editorContent {
  padding: 12px;
  overflow: hidden;
}

.menu {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: 40px;
  padding: 0 8px;
  border-top: 1px solid var(--color-gray-5);
  background-color: #fff;
  color: var(--color-gray-2);
  margin-top: 0; /* Remove margin since it's contained */
}


.button,
.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 32px;

  margin: 0;
  padding: 0 8px;

  border: 0;
  border-radius: 4px;
  background: transparent;
  color: currentColor;

  font-family: inherit;
  font-size: inherit;
  line-height: 1;
  font-weight: inherit;

  white-space: nowrap;
  cursor: pointer;
}

.menu-button {
  width: 32px;
  padding: 0;
}

.button:hover,
.button.is-active,
.menu-button:hover,
.menu-button.is-active {
  background-color: var(--color-gray-5);
  color: var(--color-black);
}

.button:disabled,
.menu-button:disabled {
  color: var(--color-gray-4);
}