

.tiptap-editor {
  background-color: white;
}

.editorContent {
  padding: 8px;
}

.editorContent > div {
  height: 100%;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top: 1px solid #f0f0f0;
  padding-top: 4px;
}

.format-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: transparent;
  color: rgb(142, 142, 147);
}

.format-button-text {
  font-size: 18px;
  font-weight: 500;
}

.format-button:hover {
  background-color: #e8e8e8;
}

.send-button {
  margin-left: auto;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 6px;
  background: transparent;
  color: hsl(219.25deg 6% 40%);
  background-color: #F0F0F0;
}

.send-button-active {
  color: #5753C6;
  opacity: 1;
  cursor: pointer;
}

/* Formatting menu styles */
.formatting-menu {
  display: flex;
  gap: 2px;
  align-items: center;
}

.formatting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: transparent;
}

.formatting-button.close-button {
  background-color: transparent;
}