
.editorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 4px;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  padding-inline: 4px;
}

.editorContent {
  width: 100%;
  flex-grow: 1;
  overflow: hidden;
  padding-top: 8px;
}

.editorContent > div {
  width: 100%;
  height: 100%;
  max-height: 120px;
  overflow-y: auto;
  padding-inline: 8px;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

/* Format Button - the button that opens the formatting menu */
.format-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: transparent;
  color: rgb(199, 199, 204);
}

.format-button-text {
  font-size: 18px;
  font-weight: 500;
}

.send-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 6px;
  color:rgb(199, 199, 204);
  background: transparent;
}

.send-button-active {
  color: #5753C6;
  opacity: 1;
}

/* Formatting menu styles for icon buttons like Bold, Italic, etc. */
.formatting-menu {
  display: flex;
  gap: 2px;
  align-items: center;
  /* horizontal scroll */
  overflow-x: auto;
}

.formatting-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: transparent;
}