.my-quill-editor {
    width: 100%;
    height: 100%;
    padding: 0px;
}

.my-quill-editor .ql-container.ql-snow {
    border: 0px;
    border-radius: none;
}

.my-quill-editor .ql-container.ql-snow:focus-within {
    border: 0px solid var(--ion-color-light);
}

.quill>.ql-container>.ql-editor.ql-blank::before {
    font-size: 14px;
    font-style: normal;
    color: var(--ion-color-medium);
}

.ql-mention-list-container {
    z-index: 9999;
    position: absolute !important;
    overflow: visible;
    background-color: var(--ion-color-light-shade);
    border: 1px solid var(--ion-color-light);
}

.ql-mention-list-item.selected {
    background-color: var(--ion-color-light-tint);
    color: var(--ion-color-dark);
}

.mention {
    background-color: var(--ion-color-light-shade);
    color: var(--ion-color-primary-tint)
}

.chat-input {
    border-top: 1px solid var(--ion-color-light);
    background: var(--ion-background-color);
}

/* Quill Mentions */

.ql-mention-list {
    background-color: var(--ion-color-light-shade) !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    font-size: 12px;
}

.ql-mention-list-container {
    /* border-color: var(--gray) !important; */
    max-height: 400px;
    overflow-y: scroll;
}

.ql-mention-list-item {
    font-size: 14px;
    line-height: 2.4rem;
    padding: 0 16px
}