emoji-picker {
    --indicator-color: var(--accent-a9);
    --input-padding: var(--space-2);
    --input-font-size: var(--font-size-2);
}

.picker {
    --border-size: 2px;
}

emoji-picker {
    --background: var(--slate-2);
    --border-color: var(--slate-4);
    --button-active-background: var(--slate-6);
    --button-hover-background: var(--slate-4);
}