.markdown a {
    color: #3182CE;
    text-decoration: underline;
}

.markdown a:hover {
    color: #2B6CB0;
}

.markdown ol {
    padding-left: 20px;
}

.markdown ul {
    padding-left: 20px;
}

.markdown {
    font-size: var(--chakra-fontSizes-sm)
}

.markdown .mention {
    color: var(--chakra-colors-blue-500);
}

.markdown blockquote {
    border-left: 3px solid var(--chakra-colors-gray-300);
    padding-left: 0.8rem;
    margin: 1rem;
}

.markdown ul,
.markdown ol {
    padding-left: var(--chakra-space-8);
    line-height: 1.4;
}

.markdown ul li,
.markdown ol li {
    line-height: 2;
}

.markdown pre {
    background: #0d0d0d;
    border-radius: 0.5rem;
    color: #fff;
    font-family: "JetBrainsMono", monospace;
    padding: 0.75rem 1rem;
}

.markdown pre code {
    background: none;
    color: inherit;
    font-size: 0.8rem;
    padding: 0;
}

.markdown pre .hljs-comment,
.markdown pre .hljs-quote {
    color: #616161;
}

.markdown pre .hljs-variable,
.markdown pre .hljs-template-variable,
.markdown pre .hljs-attribute,
.markdown pre .hljs-tag,
.markdown pre .hljs-name,
.markdown pre .hljs-regexp,
.markdown pre .hljs-link,
.markdown pre .hljs-name,
.markdown pre .hljs-selector-id,
.markdown pre .hljs-selector-class {
    color: #f98181;
}

.markdown pre .hljs-number,
.markdown pre .hljs-meta,
.markdown pre .hljs-built_in,
.markdown pre .hljs-builtin-name,
.markdown pre .hljs-literal,
.markdown pre .hljs-type,
.markdown pre .hljs-params {
    color: #fbbc88;
}

.markdown pre .markdown pre .hljs-string,
.markdown pre .hljs-symbol,
.markdown pre .hljs-bullet {
    color: #b9f18d;
}

.markdown pre .hljs-title,
.markdown pre .hljs-section {
    color: #faf594;
}

.markdown pre .hljs-keyword,
.markdown pre .hljs-selector-tag {
    color: #70cff8;
}

.markdown pre .hljs-emphasis {
    font-style: italic;
}

.markdown pre .hljs-strong {
    font-weight: 700;
}