ion-modal#message-action-modal {
    /* --height: 50%; */
    --border-radius: 16px;
    /* --background: rgb(250 250 250); */
    --ion-background-color: var(--gray-1);
    --backdrop-opacity: 1;
    /* --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1); */
}

/* 
ion-item.menu-action-button::part(native) {
    background: rgb(24 24 27);
} */